#container{ height: auto;width: 85%; margin: 0 auto;}
#img-container {
    width: 18%;
    float: left;
    clear: left;
    padding:17px;
    border-bottom:1px solid #c1c1c1;
}
h1{text-align: center;
    background: black;
    color: white;
    height: 57px;
    line-height: 57px}
img{background: rgba(0, 0, 0, 0.596)}
section{color:darkblue; font-family: Verdana, Geneva, Tahoma, sans-serif;clear: right;padding-bottom:3px;}
#hourly-container,#daily-container{float:left;width:45%;}
.details{font-size:10px;float: left;width: 59%;height: 104px;padding:17px;border-bottom:1px solid #c1c1c1;}
button{margin:10px;}