<div id="container">
<input  placeholder="latitude" [(ngModel)]="latitude"/>
<input  placeholder="multitude" [(ngModel)]="longitude"/>
  <button (click)="showDaily()">Daily Forecast</button>
  <button (click)="showHourly()">Hourly Forecast</button>
<div>TimZone: {{timezone}}</div>
  <div id="daily-container">
      <h1>Daily</h1>
      <div *ngFor="let obj of forecastsDaily">
          <div id="img-container">
              <img src="assets/images/{{obj.icon}}.svg" />
          </div>
      <div class="details">
          <section>{{ obj.summary }}</section>
          <section>time: {{ obj.time | date:'medium'}}</section>
          <section>min temperature: {{ obj.temperatureMin }}</section>
          <section>max temperature: {{ obj.temperatureMax }}</section>
      </div>
    </div>
  </div>
</div>
<div id="hourly-container">
    <h1>Hourly</h1>
    <div id="container">
        <div *ngFor="let obj of forecastsHourly">
            <div id="img-container">
                <img src="assets/images/{{obj.icon}}.svg" />
            </div>
            <div class="details">
                <section>{{ obj.summary }}</section>
                <section>time: {{ obj.time | date:'medium'}}</section>
                <section>temperature: {{ obj.temperature }}</section>
              
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
